# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


cmake-build-*
.idea/
/build/
/cmake-build-debug/
*.o
*.so
*.exe
/bin/
/lib/
/libwb/
*.log
*.cache
*.cmake
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
